* {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

body {
  background-color: ghostwhite;
}

.logo, .brand-logo {
  padding-left: 15px !important;
}


.welcome {
  padding-top: 4em;
}


#main-header {
  background-image: url('/img/post_it.jpeg');
  background-size: cover;
  background-position: center;
  height: 100vh;
  display: grid;
  justify-content: center;
  align-content: center;
  text-align: center;
  padding: 0 20px;
  color: white;
  font-size: 700;
}

.sign-up {
  margin-left: 50px;
  margin-right: 50px;
}

.login {
  margin-left: 50px;
  margin-right: 50px;
}

.logout-btn {
  border: none;
  color: white;
  font-size: 1.5em;
}

footer {
  margin-top: 100px;
  
}

.social-btn li {
  display: inline;
  padding: 50px 10px;
}

form {
  margin: 0;
}

#add-new {
  background-color: #ee6e73;
  width: 100px;
  padding: 0;
  font-size: 12px;
  margin: 0;
  height: 20px;
  line-height: 1px;
  font-weight: 700;
}


/* myCard {
  width: 250px;
} */

.card.small {
	min-height: 10px;
	height: auto;
}

.card-points {
  width: 50px !important;
  margin: 0;
  padding: 0;
  text-align: center;
}

.board-points {
  margin-top: 50px;
}

.total-points {
  margin: 20px 0;
}

.progress-bar {
  font-weight: 700;
  font-size: 1.5em;
  color: white;
  background-color: mediumseagreen;
}

.points-style {
  font-weight: 700;
  display: inline-block;
  border: 3px solid white;
  color: white;
  background-color: lightcoral;
  padding: 10px;
}

/* dashboard.html */
body {
	font-family:"Helvetica Neue", Helvetica, Arial, sans-serif;
}

#board {
  /* margin: 0 auto; */
  /* padding-left: 100px;  */
  position: relative;
  border: 5px solid green;
	min-height: 600px;
  

}

#board {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 1em;
  /* grid-template-columns: repeat(auto-fill, minmax(33% ,1fr)); */
  /* min-height: 100%; */
  
}

.title {
	background-color:#a0ddc4;	
	text-align:center;
	color:white;
	padding: 2px 0px;
}

.board-title {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 1em; 
  border: 3px solid purple;
  text-align: center;
	background-color: lightcoral;
  border:2px solid white;
  color: white;
  position: relative;

}
		
#todo, #inProgress, #done {
	background-color: rgb(255, 255, 255);
	position: relative;
  min-width: 250px;

	border: 7px solid black;	
  margin: 0 auto;  
}
    
.cardTitle {
	background-color: rgb(10, 138, 197);
	border:2px solid white;
}

textarea.cardDescription {
  color: black;
  margin-bottom: 3em;
}