* {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

body {
  background-color: blanchedalmond;
}

.sign-up {
  margin-left: 50px;
  margin-right: 50px;
}

.login {
  margin-left: 50px;
  margin-right: 50px;
}

form {
  margin: 0;
}

myCard {
  width: 250px;
}

.card.small {
	min-height: 10px;
	height: auto;
}

.userWarn {
  border-bottom: 3px solid red;
  font-weight: 700;
  color: red;
}

/* dashboard.html */
body {
	font-family:"Helvetica Neue", Helvetica, Arial, sans-serif;
}

#board {
  margin: 0 auto;
  /* padding-left: 100px;  */
  position: relative;
  border: 3px solid green;
  min-height: 50px;
  

}

#board {
  display: grid;
  /* grid-template-columns: repeat(3, 1fr); */
  grid-gap: 1em;
  grid-template-columns: repeat(auto-fill, minmax(300px,1fr));
  
}

.title {
	background-color:#a0ddc4;	
	text-align:center;
	color:white;
	padding: 2px 0px;
}
		
/* #inprogress {
	left:302px;
}
		
#done {
	left:604px;	
} */
		
#todo, #inprogress, #done {
	background-color: rgb(255, 255, 255);
	position: relative;
	width: 300px;
	min-height: 300px;
	border: 2px solid black;	
  margin: 0 auto;  
}
		
/* *[draggable=true] {
	float:left;
	min-width: 50px;
	min-height: 50px;
	border: 2px solid black;
	margin: 10px;
	font-weight:bold;
	min-height:60px;
				background-image: -webkit-gradient(linear, 
            		left top, left bottom,
					color-stop(0.63, white),  
            		color-stop(0.92, rgb(5,161,245)));
                    background-image:-moz-linear-gradient(                   
                        center top,
                        white 63%,
                        rgb(5,161,245) 92%
                    );
            	 -webkit-background-size:1px 8px;
            	 -moz-background-size:1px 8px;
            	 background-size:1px 8px;
				 background-repeat:repeat;
		} */
    
.cardTitle {
	background-color: rgb(255,255,255);
	border:2px solid white;
}
